.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  border-radius: 5px;
}

.container_senha {
  display: flex;
  flex-direction: row;
}

.senha {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.confirmacao_senha {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.yup_error {
  font-weight: 100;
  font-size: 0.8rem;
  padding: 0px;
  margin: 4px;
  color: rgb(251, 151, 151);
}

.card {
  color: black;
  background-color: white;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
}
